@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
p{
    font-size: 20px;
    font-weight: bold;w
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family:"dancing script",cursive;
}
